<!DOCTYPE>
<html>
<head>
  <title>BJN - DEVOPS password share</title>
  <meta name="robots" content="noindex, nofollow">

  <link rel="stylesheet" type="text/css" href="/public/vendor/animate.min.css">
  <script type="text/javascript" src="/public/vendor/aes.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  {% include '_app_scripts.html' %}
</head>
<body>
  {% block body %}
  {% endblock %}

  {% block app %}
  {% endblock %}
  <p class="bottom bg-text">BJN<sup>BETA</sup></p>
</body>
</html>
